body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(248, 247, 240);
  color: rgb(31, 31, 31);
}

h2{
  color: rgb(59, 92, 224);
}
h3{
  color: rgb(49, 49, 167);
}


table {
  width: 100%;
  border-collapse: collapse;
  display: block;
}

th,td{
  border: 3px solid brown;
  padding: 8px;
  text-align: left;
}

input[type="submit"]:hover{
  background-color: rgb(109, 109, 231);
}


#qz{
  color: rgb(88, 38, 2);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}

footer {
  text-align: center;
  background-color: #b9ccf9;
  padding: 8px;
  font-weight: bold;
}

img:hover{
  border-style: solid;
}




